@{
    ViewBag.Title = "Coming Soon";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="pcoded-content">
    <div class="pcoded-inner-content">
        <div class="main-body">

            <div class="page-wrapper">
                <div class="page-body">
                    <div class="card">
                        <div class="card-header">
                            Stay Tuned
                        </div>
                        <div class="card-block">
                            <div class="progress">
                                <div class="progress-bar  progress-bar-striped progress-bar-success progress-bar-animated" style="width: 60%">
                                    60 %
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>

</div>